Source: readline5
Section: core
Priority: optional
Maintainer: Yauhen Kharuzhy <jekhor@gmail.com>
Uploaders: Mikhail Gusarov <dottedmag@dottedmag.net>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7), dpatch, lsb-release, mawk | awk, autotools-dev, libncurses5-dev (>= 5.6)
XCS-Cross-Build-Depends: libncurses5-dev (>= 5.6)
XCS-Cross-Host-Build-Depends: debhelper (>= 7), dpatch, lsb-release, mawk | awk, autotools-dev

Package: libreadline5
Architecture: any
Depends: readline-common, ${shlibs:Depends}
Description: GNU readline and history libraries, run-time libraries
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: readline-common
Architecture: all
Depends: ${shlibs:Depends}
Description: GNU readline and history libraries, common files
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: libreadline5-dev
Architecture: any
Depends: libreadline5 (= ${binary:Version}), libncurses5-dev
Section: libdevel
Description: GNU readline and history libraries, development files
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.
 .
 This package contains as well the readline documentation in info format.

Package: libreadline5-dbg
Architecture: any
Depends: libreadline5 (= ${binary:Version})
Section: debug
Description: GNU readline and history libraries, debugging libraries
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.
